<%- include("../header.ejs")%> <%- include("../partials/adminnavbar.ejs")%>
<!-- Cards -->
<div style="margin-top: 10%; margin-left: 8%; margin-right: 8%" class="p-5">
  <div class="row row-cols-1 row-cols-md-3 g-5 rounded-3">
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/user management.jpg"
            style="height: 270px"
            class="card-img-top"
            alt="..."
          />
        </div>
        <a href="/admin/userdashboard" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">User management</h5>
            <p class="card-text">Add user,Edit user,Suspend user,Delete user</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/productmngmt.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <a href="/admin/productdashboard" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">Product Management</h5>
            <p class="card-text">
              Add product,Edit product,List product,Remove product
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/orderMngmnt.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Order Management</h5>
          <p class="card-text">Order details</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/offermanagement.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Offer management</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/couponmgmnt.jpg"
            style="height: 270px"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Coupon management</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div style="height: 300px">
          <img
            src="assets/admin/categories management.jpg"
            style="height: 270px"
            class="card-img-top"
            alt="..."
          />
        </div>
        <a href="/admin/addcategory" style="text-decoration: none">
          <div class="card-body">
            <h5 class="card-title">Categories management</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include("../footer.ejs")%>
