<%- include("../header.ejs")%>
<div class="bg-info-subtle bg-opacity-10 vh-100">
  <div style="width: 20%" class="">
    <img
      src="./assets/admin/furnilogo.png"
      alt=""
      style="width: 40%"
      class="text-center"
    />
  </div>

  <div class="container d-flex align-items-center justify-content-center">
    <form
      class="col-md-4 shadow p-5 rounded-3 mt-5"
      method="post"
      action="/admin"
    >
      <div class="container d-flex justify-content-center">
        <h4>Admin login</h4>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control rounded-pill shadow-none"
          name="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control rounded-pill shadow-none"
          name="password"
          id="exampleInputPassword1"
        />
      </div>
      <div class="container d-flex justify-content-center">
        <button type="submit" class="btn btn-primary rounded-pill">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<%- include("../footer.ejs")%>
