<div class="bg-danger p-0">
  <ul class="nav align-items-center">
    <li class="nav-item col-4">
      <a class="nav-link text-decoration-none text-white" href="#">
        <img src="/assets/admin/furnilogo.png" alt="" height="100px" class=" "
      /></a>
    </li>
    <div class="col-6 d-flex">
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#"
          >Best seller's</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#"
          >Best collections</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#"
          >Editor's Choice</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#"
          >Popular
        </a>
      </li>
    </div>

    <li>
      <div>
        <a href="/userprofile">
          <img
            src="/assets/navicons/userprofile.png"
            alt="userprofile"
            style="height: 28px"
          />
        </a>
      </div>
    </li>
    <li class="ps-5">
      <div>
        <a href="/wishlist">
          <img
            src="/assets/navicons/wishlist.png"
            alt="userprofile"
            style="height: 28px"
          />
        </a>
      </div>
    </li>
    <li class="ps-5">
      <div>
          <a href="/cart">
        <img
          src="/assets/navicons/shopping-cart.png"
          alt="userprofile"
          style="height: 28px"
        />
        </a>
        </div>
      </div>
    </li>
  </ul>
</div>
