
<script src="../public/js/script.js"></script>
<script src="node_modules/bootstrap/dist/js/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>