<%- include("../header.ejs")%> <%- include("../partials/navbar.ejs")%>
<div class="container">
  <div class="row my-5">
    <%- include("../partials/usersidebar.ejs")%>
    <div
      class="col-8 bg-danger-subtle rounded-5 d-flex justify-content-center p-5"
    >
      <div class="col-6">
        <form method="post" action="/changepassword" id="changePasswordForm">
          <div class="mb-3">
            <label class="form-label">Enter your old password</label>
            <input
              type="password"
              class="form-control shadow-none"
              name="oldpassword"
              id="oldpassword"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Enter your new password</label>
            <input
              type="password"
              class="form-control shadow-none"
              id="newpassword"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">confirm your new password</label>
            <input
              type="password"
              class="form-control shadow-none"
              id="confirmpassword"
              name="confirmpassword"
            />
          </div>
          <button type="submit" class="btn btn-primary submitbtn">
            Change password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("changePasswordForm");

    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission

      // Perform validation
      const oldPassword = document.getElementById("oldpassword").value;
      const newPassword = document.getElementById("newpassword").value;
      const confirmPassword = document.getElementById("confirmpassword").value;
      console.log("your old password ", oldPassword);
      if (newPassword !== confirmPassword) {
        alert("New password and confirm password do not match");
        return;
      }

      axios
        .get("/oldpassword")
        .then((response) => {
          const checkPass = response.data;
          console.log(checkPass);
          const passwordMatch = oldPassword === checkPass;
          console.log(passwordMatch);

          if (passwordMatch) {
            console.log("password matched");
            // Create an object with form data
            const formData = {
              oldpassword: oldPassword,
              newpassword: newPassword,
              confirmpassword: confirmPassword,
            };

            // Send form data with POST request
            axios
              .post("/changepassword", formData)
              .then(() => {
                console.log("form submitted successfully");
                // Optionally, redirect or show a success message
              })
              .catch((error) => {
                console.log(error);
                // Handle error (e.g., show error message to user)
              });
          } else {
            alert("password doesnt match");
          }
        })
        .catch((error) => {
          console.error(error.message);
          // Handle error (e.g., show error message to user)
        });
    });
  });
</script>
<%- include("../footer.ejs")%>
