<%- include("../../header.ejs")%>
<%- include("../../partials/adminnavbar.ejs")%> 

<div class="bg-info-subtle   bg-opacity-10  d-flex justify-content-center ">
    <div style="margin-top: 4%;" class="p-5 bg-light  bg-opacity-50 shadow-sm  col-md-6   " >
        <div>
            <h3 class="h3">Edit product</h3>
        </div>
        <form method="post" action="/admin/editproduct/<%= product._id%>">
            <div class="row mb-3">
              <div class="col-sm-10">
                <input type="text" class="form-control shadow-none" name="productname"  placeholder="product Name">
              </div>
            </div>
            <div class="row mb-3 ">
                <div class="col-sm-3">
                  <input type="text" class="form-control shadow-none" name="price" placeholder="price" >
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control shadow-none" name="cost" placeholder="cost" >
                </div>
                <div class="col-sm-3 d-flex align-items-center ">
                    <label for="" class="pe-3 ">Color</label>
                    <input type="color"  class="form-control form-control-color border-0 shadow-none " name="color" value="#000000">
                </div>
            </div>
            <div class="row mb-4">
                 <div class=" row mb-3 col-sm-10 ms-1  ">
                    <textarea class="form-control shadow-none " name="description" rows="3"  placeholder="product description" ></textarea>
                 </div>
                <div class="col-md-4 mb-3 ">
                         <select class="form-select shadow-none " aria-label="Default select example" value="isblocked" name="isblocked">
                         <option selected>isBlocked</option>
                         <option value="true">On</option>
                         <option value="false">Off</option>
                         </select>
                 </div>
            
            <div class="col-md-3 mb-3 ">
                <input class="form-control shadow-none " name="quantity"  placeholder="Quantity">
                    
            </div>
         </div>
            <div class="col-10 ">
                <div class="input-group mb-3 col-3">
                    <input type="file" class="form-control shadow-none " id="inputGroupFile02">
                    <label class="input-group-text shadow-none" for="inputGroupFile02">Upload</label>
                  </div>
                  <div class="input-group mb-3 col-3"">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text shadow-none" for="inputGroupFile02">Upload</label>
                  </div>
                  <div class="input-group mb-3 col-3"">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text shadow-none" for="inputGroupFile02">Upload</label>
                  </div>
                  <div class="input-group mb-3 col-3"">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text shadow-none" for="inputGroupFile02">Upload</label>
                  </div>
                  <div class="input-group mb-3 col-3"">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text shadow-none" for="inputGroupFile02">Upload</label>
                  </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Add product</button>
        </form>
    </div>
</div>

<%- include("../../footer.ejs")%>